<?xml version="1.0" ?>
<settings version="1">
    <section id="service.subtitles.subdl">
        <category id="user" label="32101">
            <group id="1">
                <setting id="TMDBApiKey" type="string">
                    <level>4</level>
                    <default>668e72a7450f67db4dd7ee02434cb15a</default>
                </setting>
                <setting id="APIKey" type="string">
                    <level>4</level>
                    <default>kevL-JTv9idrG79Nk9YSyvAh7daNrymP</default>
                </setting>
            </group>
        </category>
    </section>
</settings>
